<div class = "container">
	<div class = "row">
		<div class = "col-md-12">
			<div class = "page-header">
					<h1>NY Times Scraper</h1>
					<button id= "home">Home</button>
					<button id = "saved">Saved Articles</button>
					<form action="/scrape" method = "GET">
						<button type = "submit" class = "btn btn-primary">
						SCRAPE NEW ARTICLES</button>
					</form>
			</div>
			<div class = "jumbotron">
				{{#unless articles}}
					<h2>No articles to be found.</h2>
				{{/unless}}
				{{#if articles}}
					<ul>
						{{#each articles}}
							<li>
								{{this.title}}
								<br />
								{{this.link}}
								<form class="note" action="saved/{{this.id}}" method = "PUT">
									<button type = "submit" class = "btn btn-primary">Save Article</button>
								</form>
							</li>
						{{/each}}
					</ul>
				{{/if}}
			</div>
		</div>
	</div>
</div>